script.
  (()=>{
    const $countDom = document.getElementById('twikoo-count')
    const init = () => {
      twikoo.init(Object.assign({
        el: '#twikoo-wrap',
        envId: '!{theme.twikoo.envId}',
        //region: '!{theme.twikoo.region}'
        // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
          // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
          // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/js/utils/i18n/index.js
      }, !{JSON.stringify(theme.twikoo.option)}))
    }

    const getCount = () => {
      twikoo.getCommentsCount({
        envId: '!{theme.twikoo.envId}',
        region: '!{theme.twikoo.region}',
        urls: [window.location.pathname],
        includeReply: false
      }).then(function (res) {
        $countDom.innerText = res[0].count
      }).catch(function (err) {
        console.error(err);
      });
    }

    const loadTwikoo = (bool = false) => {
      if (typeof twikoo === 'object') {
        init()
        bool && $countDom && setTimeout(getCount,0)
      } else {
        getScript('!{theme.CDN.twikoo}').then(()=> {
          init()
          bool && $countDom && setTimeout(getCount,0)
        })
      }
    }

    if ('!{theme.comments.use[0]}' === 'Twikoo' || !!{theme.comments.lazyload}) {
      if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('twikoo-wrap'), loadTwikoo)
      else loadTwikoo(true)
    } else {
      window.loadOtherComment = () => {
        loadTwikoo()
      }
    }
  })()
